body{
	margin: 0;
	padding: 0;
	font-family: arial;
    background-image: url(/img/SCHOOL2.png);
	background-size: 100%;
	background-repeat: no-repeat;


}

.box{
	width: 1200px;
	height: 550px;
	background-color: #083ae1b3;
	color: #fff;
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	padding: 70px 30px;
	box-sizing: border-box;
	border-radius: 10px;

}

.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top:  5%;
	left: calc(50% - 50px);
}

fieldset{
	position: relative;
	width: 800px;
	height: 480px;
	margin-left: 150px;
    margin-top: 30px;
    box-sizing: border-box;
    box-shadow: -1px 0 10px #000000;

    

}

.box2 h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin-top: 70px;
    margin-left: 230px;
}

.box2 legend{
    font-family:  'Courier New', Courier, monospace;
    font-size: 35px;
}

.box2 input{
    position:relative;
    float: right;
    width: 300px;
    margin-right: 100px;
}

.box label{
    font-family:  'Courier New', Courier, monospace;
    font-size: 25px;
    position: relative;
    margin-left: 100px;

}


.button1 {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: bold;
	background: rgb(113, 62, 201);
	width: 800px;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	margin-left: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition-propety: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.button1:hover{
	box-shadow:  0 0 20px rgba(0, 77, 5, 0.5);
    background-color: rgb(123, 205, 0);
	-webkit-transform: scale(1.1);
	transition: scale(1.1);
}
